.navigation
{
  font-family: Impact, sans-serif
  color: ghostwhite;
  padding: 20px 100px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Impact, sans-serif
}

.navigation li {
  float: right;
}
.logo li {
  font-size: 2em;
  float: left;
  color: DarkSlateGray;
}

.navigation li a:hover {
  color: cadetblue;
  
}

a:link, a:visited {
        color: DarkSlateGray;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
} 

body, html {
    height: 100%;
}

.navigation a.active {
  color: cadetblue;
}

/* The hero image */
.header {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("header.png");

  /* Set a specific height */
  height: 90%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ghostwhite;
  font-family: Arial, sans-serif;
}
.header-text h1
{
  font-size: 3em;
}

.header-text p
{
  font-size: 2em;
}

.header-text button {
  background-color: DarkSlateGray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}







.topdiv h1{
  text-align: center;
  font-size: 2em;
  font-family: Impact, sans-serif;
  color: MistyRose;
}
.welcome
{
   text-align: center;
   font-weight: bold;
   font-family: Impact, sans-serif;
   color: MistyRose;  
}
.intro
{
   text-align: center;
 
   font-family: Georgia;
   color: Pink;  
}
.topdiv
{
  border-top-style: solid;
  border-color: MediumPurple;
  border-bottom-style: solid;
}
body {
  /*Background color for entire page*/
  background-color: ghostwhite;
}

.prog
{
  font-family: Georgia;
  color: RebeccaPurple;  
  margin: 10px;
  text-align: center;
}
.progli
{
  font-family: Georgia;
  color: Purple;  
}

.works
{
  font-family: Georgia;
  color: RebeccaPurple;  
  margin: 10px;
  text-align: center;
}
.worksli
{
  font-family: Georgia;
  color: Purple;  
}
.container{
        background: white;
        color: black;
        width: 50%;
        border: 4px dotted MediumPurple;
        border-radius: 15px;
        margin: auto;
}  

.image_container
{
        margin-right: 40px;
        text-align: center;
}
  
 .linkbutton {
        background: white;
        color: rebeccapurple;
        width: 200px;
        border: 4px dotted MediumPurple;
        border-radius: 15px;
        margin: auto;
        font-family: Georgia;
        font-weight: bold;
}


.about
{
  
}



.about-text {

  padding-top: 50px;
  padding-bottom: 110px;
  padding-left: 100px;
  padding-right: 100px;
  background: powderblue;

/*  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/




  color: DarkSlateGray;
  font-family: Arial, sans-serif;
}
.about-text img
{
  padding-right: 70px;
  padding-left: 30px;}

.about-text h1
{
  padding-top: 30px;
  font-size: 2em;
}

.about-text p
{
  font-size: 1em;
  padding-bottom: 20px;
}

.about-text button {
  background-color: DarkSlateGray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.proglanguage
{
  
 
}
.proglanguage h2
{
  color: DarkSlateGray;
  padding-top: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.tablelang table
{
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 30px;
}

.tablelang td
{
  font-family: 'Arial Black', sans-serif;
  color: DarkSlateGray;
  font-size: 2em;
  text-align: center;
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 15px;
  border: 3px solid DarkSlateGray;
  border-color: DarkSlateGray;
  background-color: powderblue;

}